extends ../head 

block content
 
 .cuadro.ancho-largo
    .header-card
      h1 Actualizar  categoría
    section.body
      form(action="", method="post") 
        input#nombre.largo(type=text, name="nombre", placeholder="Nombre la categoria" value=categoria.nombre)
        textarea#decripcion.largo(name="descripcion", cols="30", rows="10", placeholder="Descripción la categoria")= categoria.descripcion
        button.action(type="submit") Actualizar